<form>
  <div class="container">
    <div class="row">
    <div class="col-xs-6 col-md-6">
        <div class="form-group">
          <label for="nameInput">Name</label>
          <input type="name" class="form-control" id="nameInput" placeholder="The Butcher...">
        </div>
        <div class="form-group">
          <label for="descriptionInput">Description</label>
          <input type="description" class="form-control" id="descriptionInput" placeholder="Really delicious food!">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </div>
  </div>
</form>
